.accordion {
    background-color: #CE0953;
    color: #FFFCFC;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
}
.accordion:after {
    content: '\002B';
    color: #FFFCFC;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

.active:after {
    content: "\2212";
}

.txt {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}